@page "/timeline"

<h3>Timeline</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">07:00</div>
                        <div class="timeline-icon"></div>
                        @*<h3 class="title">Web Designing</h3>
                        <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. fdm fddf df fd
                        </p>*@
                        <dl>
                            <dt>Clobozam <small>(5ml)</small></dt>
                            <dd>Oral Suspemsion</dd>
                            <dd>2mg in 5ml</dd>

                            <dt>Flush <small>(10ml)</small></dt>
                            <dd>Water</dd>

                            <dt>Water <small>(60ml at 10ml/hr)</small></dt>
                            <dd>Water</dd>
                        </dl>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">11:30</div>
                        <div class="timeline-icon"></div>
                        <dl>
                            <dt>Clobozam <small>(5ml)</small></dt>
                            <dd>Oral Suspemsion</dd>
                            <dd>2mg in 5ml</dd>

                            <dt>Flush <small>(10ml)</small></dt>
                            <dd>Water</dd>

                            <dt>Water <small>(60ml at 10ml/hr)</small></dt>
                            <dd>Water</dd>
                        </dl>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">12:30</div>
                        <div class="timeline-icon"></div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. fdm fddf df fd
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">14:30</div>
                        <div class="timeline-icon"></div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. fdm fddf df fd
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">16:00</div>
                        <div class="timeline-icon"></div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. fdm fddf df fd
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">19:00</div>
                        <div class="timeline-icon"></div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. fdm fddf df fd
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
